html{
    font-family: 'Montserrat', sans-serif;
}

.main-telefonos{
    
    
    color: rgb(0, 0, 0);
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;

}
.container{
    
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0,0.3);
    border-radius: 00.25rem;
}
section article{
    background-color:#8b8a8a;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem;

}

.encabezado{
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    color: rgb(244, 246, 248);
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: #dc3545;
    padding: 0.25rem 1rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0,0.3);

}

.list-unstyled{
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
    font-size: 4rem;
    background-color: rgb(247, 242, 238);
    border:1px solid #dc3545 1rem 0;  
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.50rem 1rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0, 0.3);
    cursor: pointer;
  
}
