.main-telefonos{
    color: rgb(0, 0, 0);
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;

}
.encabezado{
    font-size: 4rem;
    color: aliceblue;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: #dc3545;
}

.list-unstyled{
    border:2px solid #dc3545;  
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    section article :hover{
        box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0,);
    }
}

